

  
.user-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 0%;
    border-radius: 20px; 
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;

  }
  
  
  .user-table thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #5271FF;
    color: white;
  }
  
  .user-table th, 
  .user-table td {
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    max-width: 2vh;
    height: 8vh;
    word-wrap: break-word;
  }
  
  .user-table th {
    font-weight: bold;
    background-color: #5271FF;
    color: white;
  }
  
  .user-table tr {
    transition: background-color 0.3s ease;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #40AFDE;
    color: black;
  }
  
  .user-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
    color: black;
  }
  
  .user-table tbody tr:hover {
    background-color: #A3BFFA;
  }
  
  .delete-button {
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  
















.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px; 
  height: 25px; 
  margin-right: 10px; 
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; 
  transition: 0.4s; 
  border-radius: 34px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; 
  width: 20px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; 
}

input:checked + .slider {
  background-color: #4caf50; 
}

input:checked + .slider:before {
  transform: translateX(24px); 
}

 
  